@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Hind Madurai';
    background-repeat: no-repeat;
    background-color:rgba(255, 0, 0, 0.70);
    background-image:
        radial-gradient(at 15% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
        radial-gradient(at 51% 0%, hsla(340,100%,76%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
        radial-gradient(at 89% 100%, hsla(240,100%,72%,1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}

header ul {
    list-style-type: none;
    margin-bottom: 0.5rem;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header ul li {
    float: right;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul li a:hover:not(.active) {
    background-color: #111;
}

.heading-left {
    float: left;
}

main{
    margin: 1rem 2rem;
}

.jumbotron-c{
    border: 1px solid black;
    padding: 0.5rem;
    max-width: 45%;
    margin: auto;
}

.jumbotron-c h1{
    text-align: start;
}

h1{
    text-align: center;
}

.project-c{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    justify-content: center;
    max-width: 70%;
    margin: 3rem auto;
}

.box{
    background-color: #00000089;
    color: white;
    border-radius: 20px;
}

/* Counters App  */
.counter-c{
    text-align: center;
    padding: 1rem;
}

.counter-display{
    border: 1px solid #fff;
    margin: 5px auto;
    width: 160px;
    font-size: 35px;
}

.increase{
    background-color: #01ff70;
    color: #ffff;
}
.reset{
    background-color:#ffffff;
}
.decrease{
    background-color: #ff4136;
    color: #ffff;
}

button{
    padding: 0.5rem 1rem;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

button:hover{
    background-color: #ffa480;
}
/* End of Counter App  */

/* Rock Paper Scissors App  */
.rock-paper-scissors-c{
    padding: 1rem;
}

.move-icon-c{
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.move-icon {
    height: 50px;
}
.move-button {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.result, .score {
    font-weight: bold;
}

.btn-c{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.alignItem{    
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 4rem;
}
/* End of Rock Paper Scissors App  */

/*Random Jokes App  */
.jokes-generator-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
}

.jokes-btn{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.jokes-btn:hover{
    background-color: lightgray;

}
/* End of Random Jokes App  */

/* Weather App */
.weather-c{
    color: #fff;
    padding: 15px;
    text-align: center;
}

.weather-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 15px 0 0 15px;
    flex: 1;
    font-size: 13px;
}

.weather-search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 0 15px 15px 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.weather-search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
}

.weather h2{
    font-size: 60px;
    font-weight: 500;
}
.weather h3{
    font-size: 25px;
    font-weight: 400;
    margin-top: -20px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 25px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px ;
    margin-top: -10px;
}

.weather{
    display: none;
}
/* End of weather App */

/* Random Generating Password app */
.password-generator-c{
    padding: 10px 20px;
    text-align: center;
}

.input-c{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.input-c input{
    outline: 0;
    color: #555;
    padding: 2px 25px;
    height: 50px;
    flex: 1;
    font-size: 24px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.input-c button{
    outline: 0;
    height: 50px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.generator-btn{
    display: flex;
    justify-self: end;
}
/* end of Random Generating Password */

/* Age Calculator */
.age-calculator-c{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.birthday-form{
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.birthday-form input{
    width: 40%;
    padding: 0.5rem;
    margin-left: 1rem;
    border: 1px solid black;
}
.age-calculator-c p{
    text-align: center;
    margin-top: 0.5rem;
    font-weight: bold;
}

/* End of Age Calculator */

/* Calculator */
.calculator-c{
    padding: 1.5rem;
}

.calculator-c input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.calculator-btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.calculator-btn button{
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.operator{
    background-color: #0074d9;
    color: #fff;
}
.number, .decimal{
    background-color: #fff;
    color: #333;
}
.clear{
    background-color: #ff4136;
    color: #fff;
}

.equals{
    background-color: #01ff70;
    color: #fff;
    grid-row: span 3;
}

/* digital clock */
.clock-c{
    padding: 1rem;
}

.clock{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    padding: 0 20px;
}

.clock span{
    font-size: 80px;
    width: 70px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50px;
    transform: translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINTUES';
    text-align: center;
}
#sec::after{
    content: 'SECONDS';
}


footer{
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    body{
        height: auto;
    }
    main {
        margin: 0 1rem;
    }
    .jumbotron-c{
        max-width: none;
    }
    .project-c{
        display: block;
        max-width: none;
    
    }
    .box{
        margin-bottom: 1rem;
        overflow: hidden;
    }
    .clock-c{
        width: inherit;
    }
}