@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 1rem 0;
    font-family: 'Hind Madurai';
}

header{
    text-align: center;
}

main{
    margin: auto 2rem;
}

h1{
    text-align: center;
}

.project-c{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    justify-content: center;
}

.box{
    border: 1px solid black;
}

.counter-c{
    text-align: center;
    padding: 1rem;
    height: fit-content;
}

.counter-display{
    border: 1px solid black;
    margin: 5px auto;
    width: 160px;
    font-size: 35px;
}

button{
    padding: 0.5rem 1rem;
}

.rock-paper-scissors-c{
    color: black;
    padding: 1rem;
    height: fit-content;
}

.move-icon-c{
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.move-icon {
    height: 50px;
}
.move-button {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.result, .score {
    font-weight: bold;
}

.btn-c{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.alignItem{    
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 4rem;
}

.jokes-generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    height: fit-content;
}

.jokes-btn{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.jokes-btn:hover{
    background-color: lightgray;

}

/* weather app */
.weather-c{
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 15px;
    text-align: center;
}

.weather-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 15px 0 0 15px;
    flex: 1;
    font-size: 13px;
}

.weather-search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 0 15px 15px 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.weather-search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
}

.weather h2{
    font-size: 60px;
    font-weight: 500;
}
.weather h3{
    font-size: 25px;
    font-weight: 400;
    margin-top: -20px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 25px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px ;
    margin-top: -10px;
}

@media only screen and (max-width: 768px) {
    main {
        margin: 0 1rem;
        

    }
    .project-c{
        display: block;
        
    
    }
    .box{
        margin-bottom: 1rem;
        overflow: hidden;
    }
}