@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 1rem 0;
    font-family: 'Hind Madurai';
}

header{
    text-align: center;
}

main{
    margin: auto 2rem;
}

h1{
    text-align: center;
}

.project-c{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    justify-content: center;
}

.box{
    border: 1px solid black;
}

/* Counters App  */
.counter-c{
    text-align: center;
    padding: 1rem;
}

.counter-display{
    border: 1px solid black;
    margin: 5px auto;
    width: 160px;
    font-size: 35px;
}

button{
    padding: 0.5rem 1rem;
}
/* End of Counter App  */

/* Rock Paper Scissors App  */
.rock-paper-scissors-c{
    color: black;
    padding: 1rem;
}

.move-icon-c{
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.move-icon {
    height: 50px;
}
.move-button {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.result, .score {
    font-weight: bold;
}

.btn-c{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.alignItem{    
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 4rem;
}
/* End of Rock Paper Scissors App  */

/*Random Jokes App  */
.jokes-generator-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
}

.jokes-btn{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.jokes-btn:hover{
    background-color: lightgray;

}
/* End of Random Jokes App  */

/* Weather App */
.weather-c{
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 15px;
    text-align: center;
}

.weather-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 15px 0 0 15px;
    flex: 1;
    font-size: 13px;
}

.weather-search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 0 15px 15px 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.weather-search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
}

.weather h2{
    font-size: 60px;
    font-weight: 500;
}
.weather h3{
    font-size: 25px;
    font-weight: 400;
    margin-top: -20px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 25px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px ;
    margin-top: -10px;
}

.weather{
    display: none;
}
/* End of weather App */

/* Random Generating Password app */
.password-generator-c{
    padding: 10px 20px;
    text-align: center;
}

.input-c{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0.5rem 0;
}

.input-c input{
    outline: 0;
    color: #555;
    padding: 2px 25px;
    height: 50px;
    flex: 1;
    font-size: 30px;
    font-weight: bold;
}

.input-c button{
    outline: 0;
    height: 50px;
    cursor: pointer;
}

.generator-btn{
    display: flex;
    justify-self: end;
}
/* end of Random Generating Password */

/* Age Calculator */
.age-calculator-c{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.birthday-form{
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.birthday-form input{
    width: 40%;
    padding: 0.5rem;
    margin-left: 1rem;
    border: 1px solid black;
}
.age-calculator-c p{
    text-align: center;
    margin-top: 0.5rem;
    font-weight: bold;
}

/* End of Age Calculator */

/* Calculator */
.calculator-c{
    padding: 0.5rem;
}

.calculator-c input{
    width: 100%;
    padding: 0.5px;
    font-size: 30px;
    border: 1px solid black;
}

.calculator-btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.calculator-btn button{
    padding: 10px;
    font-style: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid black;
}

.operator{
    background-color: #0074d9;
    color: #fff;
}
.number, .decimal{
    background-color: #fff;
    color: #333;
}
.clear{
    background-color: #ff4136;
    color: #fff;
}

.equals{
    background-color: #01ff70;
    color: #fff;
    grid-row: span 3;
}

@media only screen and (max-width: 768px) {
    main {
        margin: 0 1rem;
    }
    .project-c{
        display: block;
        
    
    }
    .box{
        margin-bottom: 1rem;
        overflow: hidden;
    }
    .input-c input{
        font-size: 13px;
        padding: 0;
    }
}